* { 
    box-sizing:border-box;
    font-family:Raleway;
    color:black;
  
}

a {
    text-decoration: none;
}

.body {
    max-width: 1480px;
    margin:auto;
    padding:0 1rem;
    box-sizing: border-box;
    
}

.nav-bar a {
    float:right;
    padding:16px 16px;
    font-size: 19px;
}

.nav-bar-signup {
    color:#0065FC;
    font-weight:bolder;
}
.acc {
    color:#0065FC;
}

.nav-bar a:hover {
    background-color:rgb(232, 244, 250);
    color:black;
}

.search-bar {
    display:flex;
    border: 1px solid #f2f2f2;
    width: 250px;
    margin-bottom:1rem;
}


.input-field {
    width:70%;
    padding: 0 1rem;
    border: none;
}

.input-field:focus {
    border:2px solid #0065FC;
}

.map-icon {
	display: flex;
	padding: 10px;
	border-bottom-left-radius: 11px;
	border-top-left-radius: 11px;
	background-color: #F2F2F2;
}


.search-button {
	border: none;
	border-bottom-right-radius: 11px;
	border-top-right-radius: 11px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #0065FC;
	width: 33%;
}

.fa-info-circle {
	color: #0065FC;
}
.fa-star {
	color: #0065FC;
}

.filters {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    font-weight: bold;
    width:100%;
    align-items: center;
    margin-bottom: 1rem;
}

.filters a {
    text-decoration: none;
}

.filters a:vistited {
    color:black;
}


.categories-container {
    display:flex;
    position:relative;
    align-items:center;
    border: 1px solid #f2f2f2;
    border-radius: 50px;
    padding-right:2rem;
    margin-left:5px;
    background-color:white;
}

.icons {
	margin-left: -6px;
	color: #0065fc;
	overflow: hidden;
}


.icon-bg {
    margin-left: -2px;
	position: absolute;
	height: 43px;
	width: 43px;
	border-radius: 32px;
	background: #DEEBFF;
}

.acc-most-popular-container {
    display:grid;
    grid-column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}

.acc-container, .most-popular-container {
    background-color:#f2f2f2;
    border-radius: 1.5rem;
    padding:2rem;
}


.acc-container{
    display:grid;
    grid-template-columns:3fr 3fr 3fr;
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    margin: 0;
}



.acco-title {
    grid-column: 1 / -1;
    
}
 
.acco-title-1 {
    margin: 0;
}

.list-of-acco {
    background-color: white;
    padding: 0.300rem;
    border-radius: 1.25rem;
    box-shadow:0 3px 20px -9px rgba(0,0,0,.5);
    box-sizing: border-box;
    height: 85%;
}

.list-of-acco a:hover{
margin-top:-10px;
}

.acco-listings-1 {
    margin:0;
}

.acco-listings-crop {
    height:7rem;
    object-fit:cover;
    max-width: 100%;
    width:100%;
    max-height:100%;
    border-radius: 1rem 1rem 0 0;
}

.title-of-lists {
    margin: .25rem .75rem 0 .75rem;
}

.list-description {
    margin: 0 .75rem .25rem .75rem;
}

.rating-stars {
	margin: 0 .75rem .25rem .75rem;
}


.most-popular-container {
 display:grid;
 grid-row-gap: 2rem;
 align-items: start;
 grid-template-rows: auto repeat(3,1fr);
}


.popular-img {
	position: relative;
	min-height: 100%;
	width: 33%;
	min-width: 33%;
	max-width: 33%;
}


.pop-img{
	border-radius: 1rem 0 0 1rem;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.popular-listings-1 {
	display: flex;
	align-items: stretch;
	height: 100%;
	overflow: auto;
    box-sizing: border-box;
    box-shadow: 0 3px 20px -9px rgba(0,0,0,.5);
    background-color: white;
    padding: 5px;
    border-radius: 1rem;
}


.popular-title {
	display: flex;
    justify-content: space-between;
}


.popular-text {
	display: flex;
    flex-direction: column;
    margin:4px;
}
.popular-box {
	flex: 1;
}


.title-of-activity {
    padding:auto;
}


.activities-marseille {
    display:grid;
    margin:2rem 0;
    column-gap:2rem;
    
}

.activity-title {
    display:flex;
    flex-direction:column;
    box-shadow:0 3px 20px -9px rgba(0,0,0,.5);
    border-radius:15px;
    overflow:hidden;
    text-decoration:none;
    
}
.name-of-act {
    padding: 12px;
}

.title-of-activity {
    grid-column:1 / -1 ;
}

.activity-img {
    flex: 1;
    position:relative;
}

.act-img {
    position:absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    
}



.activities-marseille {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 16rem 2rem 2rem 2rem 16rem;
}

.footer {
	margin-top: 1rem;
	width: 100%;
	display: block;
	overflow: hidden;
	padding-top: 2rem;
	background: #F2F2F2;
}
.footer-info{
	display: block;
	margin: 0 auto;
	width: 1100px;
	height: 100%;
}
.footer-info .info {
	width: calc(33% - 1rem);
	margin-right: 1rem;
	float: left;
	height: 100%;
}
.footer-info .info:last-child {
	margin-right: 0px;
}
.footer-info .info h2 {
	font-size: 18px;
	color: black;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.footer-info .info a {
	font-size: 18px;
	color: black;
	display: block;
	font-weight: 200;
	width: 100%;
	margin-bottom: 5px;
	text-decoration: none;
}


@media (min-width:1281px) {

    .activities-marseille {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    }
    


    .activity-title1 {
        grid-row: 2 / 7;
        grid-column: 1 / 2;
    }
    .activity-title2 {
        grid-column: 2 / 3;
        grid-row: 2 / 5;
    }
    .activity-title3 {
        grid-column: 3 / 4;
        grid-row: 2 / 7;
    }
    .activity-title4 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
    .activity-title5 {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    .activity-title6 {
        grid-column: 4 / 5;
        grid-row: 4 / 7;
    }

}
@media (max-width: 1280px) {

    .acc-most-popular-container {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }


    .most-popular-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 10rem;
		column-gap: 2rem;
	}
	.popular-title {
		grid-column: 1 / -1;
	}
    .activities-marseille {
		grid-row-gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 12rem 12rem;
	}

    .list-of-acco {
        margin:15px;
    }
}
@media (max-width:1024px) {


	.filters {
		flex-direction: column;
		align-items: flex-start;
		flex: 100%;
		max-width: 100%;
	}
	.most-popular-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}
	.popular-text  {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

    .list-of-acco {
        margin:15px;
    }

	.activities-marseille{
		grid-row-gap: 2rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 12rem 12rem 12rem;
	}
	.footer .footer-info {
		width: 100%;
	}
	.footer-info .info{
		width: 100%;
		margin-bottom: 30px;
		margin-left: 1rem;
	}
}

@media (max-width: 767px) {
.filters a:hover {
    margin-top: 0px;
    margin-left: 10px;
}
.list-of-acco:hover {
    margin-top: 0px;
    margin-right: 10px;
    
}

.list-of-acco {
    margin:15px;
}
.acc-container {
    order: 1;
    grid-template-columns: 1fr;
    background-color: white;
}
.most-popular-container {
    order: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    background-color: white;
}
.popular-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.acc-container, .most-popular-container {
    padding: 0px;
}
.acc-most-popular-container{
    display: flex;
    flex-direction: column;
    grid-column-gap: 2rem;
    grid-template-rows: auto;
    padding: 0;
}
.activity-title:hover {
    margin-top: 0px;
    margin-right: 10px;
}
.activities-marseille {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    margin: 5px;
    
}









































































































